input.criteres {
    background-color:grey;
    border: 1px solid white;
}
span.cardTitre {
    font-size: x-large;
    font-weight: bold;
}
.mapcontainer {
    width: 1200px;
    height: 800px;
    border: 3px white solid;
}
.messageErreur {
    color: rgb(161, 119, 119);
    font-weight: bold;
}